body > main {
  flex-grow: 1;

  & > section {
    margin: 2rem var(--container-margin);
    padding-left: 0;
    padding-right: 0;

    @include mq($until: md) {
      margin: 1rem;
    }

    &.primary {
      background-color: var(--primary);
      color: var(--primary-txt);
    }

    &.secondary {
      background-color: var(--secondary);
      color: var(--secondary-txt);
    }

    &.tertiary {
      background-color: var(--tertiary);
      color: var(--tertiary-txt);
    }

    &.accent {
      background-color: var(--accent);
      color: var(--accent-txt);
    }

  }
}
